/* 用户信息 */
.header_user {
  width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 2rem;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: space-between;
}
.header_user_left {
  display: flex;
  align-items: center;
}
.header_user_left img {
  width: 3rem !important;
  height: 3rem !important;
}
.header_user_left > div {
  min-width: 4.8rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}
.header_user_left > div > span {
  flex: 1;
  font-size: 0.744rem;
  line-height: 1.5rem;
  color: #c1d2d2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header_user_right img:nth-child(1) {
  width: 1.12rem !important;
  height: 1.2rem !important;
  margin-right: 0.3rem;
}
.header_user_right img:nth-child(2) {
  width: 1.2rem !important;
  height: 1.2rem !important;
  margin-right: 0.3rem;
}
.header_user_right img:nth-child(3) {
  width: 1.2rem !important;
  height: 1.219rem !important;
}
.header_user_right {
  position: relative;
}
.header_user_right > span {
  position: absolute;
  top: -0.55rem;
  background: red;
  width: 1rem;
  height: 1rem;
  text-align: center;
  line-height: 1rem;
  font-size: .4rem;
  color: white;
  left: .6rem;
  border-radius: 50%;
}
.box {
  width: 100%;
  overflow: hidden;
  /*轮播*/
  /*概览*/
  /*变现*/
  /*存证*/
  /*使用指引*/
}
.box img {
  width: 100%;
  height: 100%;
}
.box .banner {
  width: 100%;
  height: 13.875rem;
  /*background: red;*/
}
.box .banner .swiper-container {
  width: 100%;
  height: 100%;
  overflow: visible !important;
  margin-top: 1rem;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide-prev {
  height: 100% !important;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide-prev img {
  height: 100% !important;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide-next {
  height: 100% !important;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide-next img {
  height: 100% !important;
}
.box .banner .swiper-container .swiper-wrapper .swiper-slide-active {
  width: 100%;
}
.box .banner .swiper-pagination {
  bottom: -30px !important;
}
.box .banner .swiperLift {
  width: 100%;
  height: 100%;
  background: #BFCE92;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
}
.box .banner .swiperCenter {
  width: 100%;
  height: 100%;
  background: #E1CA9F;
  border-radius: 0.375rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.box .banner .swiperCenter .imgss {
  position: absolute;
  top: 50%;
  margin-top: -2.922rem;
  right: 11%;
  width: 2.781rem;
  height: 2.781rem;
}
.box .banner .swiperRight {
  width: 100%;
  height: 13.875rem;
  background: #7FCACE;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box .banner .swiperRight .swiperRight_bottom > div:nth-child(2) {
  color: #fff;
  font-weight: 100;
  font-size: 0.563rem;
  margin-top: 0.3rem;
}
.box .banner .swiperRight .swiperRight_top {
  width: 100%;
  height: 8rem;
}
.box .banner .swiperRight .swiperRight_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.box .banner .swiperRight progress {
  height: 0.469rem;
  width: 16rem;
  border: none;
  background-color: white;
  color: #0064B4;
  margin-top: 0.906rem;
  /*IE10*/
}
.box .banner .swiperRight progress::-moz-progress-bar {
  background: #ed9d79;
}
.box .banner .swiperRight progress::-webkit-progress-bar {
  background: white;
}
.box .banner .swiperRight progress::-webkit-progress-value {
  background: #ed9d79;
}
.box .banner .top {
  flex: 3;
  width: 100%;
  text-align: center;
  font-family: MicrosoftYaHei;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.225rem;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box .banner .top span:nth-child(1) {
  margin-top: 1.375rem;
}
.box .banner .top span:nth-child(2) {
  margin-top: 0.5rem;
}
.box .banner .bottom {
  flex: 2;
  width: 100%;
  background: #EEEEEF;
  border-radius: 0 0 0.375rem 0.375rem;
  display: flex;
  justify-content: space-between;
}
.box .banner .bottom .bottomcenter {
  width: 0.13rem;
  height: 2.188rem;
  background-color: #434343;
  border-radius: 0.031rem;
  margin: auto;
}
.box .banner .bottom .bottomlift,
.box .banner .bottom .bottomright {
  margin: auto;
  text-align: center;
  flex: 2;
  display: flex;
  flex-direction: column;
  font-family: MicrosoftYaHei;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.15rem;
  color: #3e3a39;
}
.box .banner .bottom .bottomlift a,
.box .banner .bottom .bottomright a {
  letter-spacing: 0.113rem;
  color: #3e3a39;
}
.box .main {
  width: 20.469rem;
  height: 5.344rem;
  margin: auto;
  margin-top: 1.844rem;
  display: flex;
  justify-content: space-between;
}
.box .main .left {
  width: 6.875rem;
  height: 100%;
  border-radius: 0.625rem;
  position: relative;
}
.box .main .left div {
  position: absolute;
  top: 0.469rem;
  right: 0.469rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box .main .left div span:nth-child(1) {
  font-size: 0.744rem;
}
.box .main .left div span:nth-child(2) {
  font-size: 0.5rem;
}
.box .main .right {
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.box .main .right .righttop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box .main .right .righttop .mainone {
  width: 5.594rem;
  height: 2.5rem;
  border-radius: 0.248rem;
  border: solid 1px #9eb2b6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.box .main .right .righttop .mainone span {
  font-family: SourceHanSansCN-Medium;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.003rem;
  color: #898989;
  display: block;
}
.box .main .right .righttop .mainone div {
  width: 3.8rem;
  height: 1.188rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  font-size: 0.3rem;
  color: #ffffff;
  text-align: center;
  margin-top: 0.2rem;
}
.box .main .right .righttop .mainone div div {
  font-family: SourceHanSansCN-Medium;
  width: 105%;
  font-size: 0.5rem;
  font-weight: normal;
  font-stretch: normal;
  color: #ffffff;
  -webkit-transform: scale(0.7);
  line-height: 2.031rem;
  text-align: center;
}
.box .realization {
  width: 20.469rem;
  margin: auto;
  margin-top: 0.813rem;
  height: 5.031rem;
  display: flex;
  justify-content: space-between;
}
.box .realization .left {
  width: 6.875rem;
  height: 100%;
  border-radius: 0.625rem;
  position: relative;
}
.box .realization .left div {
  position: absolute;
  top: 0.469rem;
  right: 0.469rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box .realization .left div span:nth-child(1) {
  font-size: 0.744rem;
}
.box .realization .left div span:nth-child(2) {
  font-size: 0.5rem;
}
.box .realization .right {
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box .realization .right .righttop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #7a9198;
  font-size: 0.657rem;
}
.box .realization .right .righttop .mainone {
  width: 5.594rem;
  height: 2.5rem;
  border-radius: 0.248rem;
  border: solid 1px #9eb2b6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box .realization .right .righttop .mainone span {
  margin-left: 0.8rem;
}
.box .inventories {
  width: 20.469rem;
  height: 3.813rem;
  margin: auto;
  margin-top: 0.813rem;
  display: flex;
  justify-content: space-between;
}
.box .inventories .left {
  width: 6.875rem;
  height: 100%;
  border-radius: 0.625rem;
  position: relative;
}
.box .inventories .left div {
  position: absolute;
  top: 0.469rem;
  right: 0.469rem;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.box .inventories .left div span:nth-child(1) {
  font-size: 0.744rem;
}
.box .inventories .left div span:nth-child(2) {
  font-size: 0.5rem;
}
.box .inventories .right {
  width: 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.box .inventories .right span {
  color: #7b9299;
  font-size: 0.744rem;
  margin-bottom: 0.15rem;
}
.box .inventories .right .rightmain {
  width: 5.594rem;
  height: 100%;
  border-radius: 0.248rem;
  border: solid 1px #9eb2b6;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.box .employ {
  width: 20.469rem;
  margin: auto;
  margin-top: 2.4rem;
  height: 3.469rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.box .employ .employmain {
  width: 9.094rem;
  height: 2.531rem;
  border-radius: 0.313rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  align-items: center;
  justify-content: center;
}
.box .employ .employmain div {
  display: flex;
  justify-content: space-between;
  width: 4.5rem;
  font-size: 0.744rem;
}
.box .employ .employmain span {
  font-size: 0.563rem;
}
.box .employ .employmain:nth-child(1) {
  background: #9ED1DF;
}
.box .employ .employmain:nth-child(2) {
  background: #EA8584;
}
.box .mark {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
}
.box .mark .mark_content {
  position: relative;
  width: 20.94rem;
  height: 17rem;
  background: #FFFFFF;
  border-radius: 0.63rem;
  margin: 12rem auto;
  text-align: center;
}
.box .mark .mark_content .fenhong {
  font-size: 1.125rem;
  color: #333333;
  line-height: 1.69rem;
  padding-top: 0.97rem;
  margin-bottom: 2.53rem;
}
.box .mark .mark_content .markmain {
  font-size: 0.875rem;
  color: #333333;
  line-height: 1.5rem;
}
.box .mark .mark_content .money {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  color: #333333;
}
.box .mark .mark_content .money span {
  font-size: 1.5rem;
  color: #80C9CD;
}
.box .mark .mark_content .base {
  width: 19.44rem;
  height: 2.815rem;
  border-radius: 0.315rem;
  background: #80C9CD;
  color: #fff;
  margin: auto;
  line-height: 2.815rem;
  position: absolute;
  left: 0.8rem;
  bottom: 1rem;
}
.box .mark .mark_content .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.845rem;
  height: 0.845rem;
  padding: 1rem;
}
.box .mark .mark_content .dimission {
  font-size: 0.875rem;
  color: #333333;
  line-height: 1.5rem;
}
.box .mark .mark_content .dimissionfoot {
  width: 19.445rem;
  height: 2.815rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.box .mark .mark_content .dimissionfoot span {
  width: 9rem;
  height: 100%;
  line-height: 2.815rem;
  border-radius: 0.315rem;
  border: 2px solid #80C9CD;
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 2px;
}
.box .mark .mark_content .dimissionfoot a {
  width: 9rem;
  height: 100%;
  line-height: 2.815rem;
  border-radius: 0.315rem;
  border: 2px solid #80C9CD;
  font-size: 1rem;
  color: #FFFFFF;
  letter-spacing: 2px;
}
.box .mark .mark_content .clickDimissionP {
  font-size: 1.125rem;
  color: #333333;
  padding-top: 6.28rem;
}
.box .mark .mark_content .gantan {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.75rem;
}
.box .mark .mark_content .exercisemain {
  width: 19.655rem;
  height: 2rem;
  margin: auto;
  display: flex;
  justify-content: space-around;
  font-size: 0.875rem;
  margin-top: 1.28rem;
}
.box .mark .mark_content .exercisemain span {
  width: 5rem;
  height: 100%;
  line-height: 2rem;
}
.box .mark .mark_content .exercisemain input {
  width: 15.28rem;
  height: 100%;
  border-bottom: 1px solid #E7E7E7;
  text-indent: 2.2em;
}
.box .mark .dongtu {
  width: 10rem;
  height: auto;
  margin: auto;
}
.certificate {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.certificate div {
  width: 100%;
  position: relative;
}
.certificate div img {
  width: 100%;
}
.certificate div span {
  position: absolute;
  text-align: center;
}
.certificate div span:nth-child(2) {
  width: 4rem;
  top: 1.4rem;
  right: 0.5rem;
  font-size: 8px;
  -webkit-transform: scale(0.5);
  display: block;
}
.certificate div span:nth-child(3) {
  width: 3.5rem;
  top: 6.3rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 12px;
}
.certificate div span:nth-child(4) {
  top: 49.6%;
  width: 8.1rem;
  left: 1.6rem;
  font-size: 8px;
  -webkit-transform: scale(0.5);
  display: block;
}
.certificate div span:nth-child(5) {
  top: 49.6%;
  left: 8.6rem;
  width: 2.2rem;
  transform: translate(0, -50%);
  font-size: 8px;
  -webkit-transform: scale(0.8);
  display: block;
}
.certificate div span:nth-child(6) {
  bottom: 3.5rem;
  left: 2.5rem;
  width: 6.2rem;
  transform: translate(0, -50%);
  font-size: 8px;
  -webkit-transform: scale(0.8);
  display: block;
}
.bianxianLebars {
  width: 100%;
  display: flex;
}
.bianxianLebars span:nth-child(1) {
  flex: 2;
  text-align: right;
}
.bianxianLebars span:nth-child(2) {
  flex: 1;
  text-align: left;
}
